.slide.cover-slide .cover {
  max-width: 130%;
  opacity: 0.4;
}

.slide.cover-slide {
  background: black;
}

.slide.cover-slide::after {
  display: none;
}

.slide.cover-slide h2 {
  line-height: 1.4;
}

.slide.cover-slide, .slide.cover-slide h2 {
  color: white;
}


.slide.full {
  padding: 20px 0px;
}

.slide.center {
  text-align: center;
}

.slide.center img {
  max-width: 100%;
  max-height: 100%;
}


.work-logo {
  height: 80px;
  vertical-align: middle;
  margin-right: 20px;
}

.side-image {
  max-width: 40%;
}

.side-image img {
  max-width: 100%;
  padding: 20px;
}

.side-image p {
  text-align: center;
}

.work-logo_paper {
  margin-left: 10px;
  margin-right: 31px;
}

.top-bottom {
  text-align: center;
}

.top-bottom img {
  max-height: 350px;
}

.sparse-item {
  margin-top: 60px;
}

.slide code {
  font-size: 22px;
}

.sparse-item::before {
  opacity: 0;
}

h2.shout.smaller {
  font-size: 80px;
  line-height: 1.5;
}
